/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

.award {
  color: var(--global-theme-color);
  font-weight: bold;
}

.preview-container {
  position: relative;
  .badge {
    position: absolute;
    top: 10px;
    display: inline-block;
    background-color: var(--global-theme-color);
    color: white !important;
    padding-left: 1rem;
    padding-right: 1rem;
    a {
      color: white !important;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

/*****************************************************************************
* Teaching
*****************************************************************************/

.card {
  position: relative;
  .badge_year {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--global-theme-color);
    color: white;
    border-radius: 5px;
    font-size: 0.8em;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .list-group-item {
    background-color: var(--background-color);
  }
}