---
layout: default
---
<!-- _layouts/teaching.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  {% for year in site.data.classes %}
  <div class="year">
    {% for class in year.classes %}
    <div class="card mt-3">
      <div class="p-3">
        <div class="row">
          <div class="col-sm-10">
            <h5 class="font-weight-bold">{{ class.name }}</h5>
          </div>
          <div class="col-sm-2 text-left text-sm-right">
            <span class="badge_year font-weight-bold text-uppercase align-middle">
              {{ year.year }}
            </span>
          </div>
        </div>
        <h6 class="font-italic mt-2 mt-sm-0">{{ class.role }} - Level: {{ class.level }}</h6>
        <tr>
          <td style="vertical-align: top; text-align: center;" class="institution"><i class="fa-solid fa-building-columns iconinstitution"></i></td>
          <td class="institution">
            <a href="{{ class.institution.site }}" target="_blank">{{ class.institution.name }}</a>
          </td>
        </tr>        
        <ul class="card-text font-weight-light list-group list-group-flush">
          {% for item in class.description %}
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-11">
                {{ item.item }}
              </div>
              <div class="col-sm-1">
                {% if item.slides %}
                [<a href="{{ item.slides }}" target="_blank" rel="noopener noreferrer">slides</a>]&nbsp;
                {% endif %}
                {% if item.site %}
                [<a href="{{ item.site }}" target="_blank" rel="noopener noreferrer">site</a>]&nbsp;
                {% endif %}
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>