---
layout: default
---
<!-- _layouts/teaching.html -->
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>
  {% for year in site.data.classes %}
  <div class="year">
    {% for class in year.classes %}
    <div class="card mt-3 p-3">
      <!-- Badge -->
      <div class="text-center mb-3 mb-md-0"> 
        <span class="badge_year font-weight-bold text-uppercase align-middle">
          {{ year.year }}
        </span>
      </div>
      <!-- Name -->
      <h5 class="font-weight-bold mt-2 mt-md-0">{{ class.name }}</h5>
      <h6 class="font-italic">{{ class.role }} - Level: {{ class.level }}</h6>

      <!-- Institution -->
      <div class="institution d-flex align-items-center">
        <i class="fa-solid fa-building-columns iconinstitution"></i> <!-- Icon -->
        <a href="{{ class.institution.site }}" target="_blank">{{ class.institution.name }}</a> <!-- Institution name -->
      </div>
      
      <!-- Description -->
      <ul class="card-text font-weight-light list-group list-group-flush">
        {% for item in class.description %}
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-10">
              {{ item.item }}
            </div>
            <div class="col-sm-2 text-sm-left text-md-right"> 
              {% if item.slides %}
              [<a href="{{ item.slides }}" target="_blank" rel="noopener noreferrer">slides</a>]&nbsp;
              {% endif %}
              {% if item.site %}
              [<a href="{{ item.site }}" target="_blank" rel="noopener noreferrer">site</a>]&nbsp;
              {% endif %}
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>